


@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(120deg, #06043E, black, blueviolet );
    font-family:'Share Tech Mono', monospace;
   


}
.authors h4{
    color:aqua;
    
}
.authors p{
    color: azure;
}

.card{
    margin: 1rem;
    background:#19174B;
    color: white;
}
.main{
    background: url('images/guaxinim_black.svg');
    background-repeat: no-repeat;
    background-size:30%;
    background-position-x:0;
    background-position: 0, 0, 50;
}