.fooinfo_network li{
    list-style-type: none;
}
.fooinfo_network a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.5); 
    font-weight: 800;
}
.fooinfo_network a:hover{
    text-decoration: none;
    color:#0d89a8;
    animation:0.5;
}



.fooinfo li{
    list-style-type: none;
}
.fooinfo a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.5); 
    font-weight: 800;
}
.fooinfo a:hover{
    text-decoration: none;
    color:#0d89a8;
    animation:0.5;
}

.fooinfo h3{
    text-shadow: 1rem 2rem 4rem rgb(13, 19, 19, 0.5);
}